<div class="span4">
  <% unless @filer.blank? %>
    <legend>Treasurer Details</legend>
    <% if @treasurer.present? %>
      <address>
        <strong><%= @treasurer.name_prefix %>
        <%= @treasurer.name_first %>
        <%= @treasurer.name_mi %>
        <%= @treasurer.name_last %>
        <%= @treasurer.name_suffix %>
        <% unless @treasurer.name_nick.blank? %>
          (<%= @treasurer.name_nick %>)</strong>
        <% end %>
        <br />

        <%= @treasurer.address_street %>
        <%= @treasurer.address_suite %><br />
        <%= @treasurer.address_city %>
        <%= @treasurer.address_state %>
        <%= @treasurer.address_zip %><br />
        <%= @treasurer.phone %>
      </address> 

      <% if @treasurer.address_changed == true %>
        <p>Change of address marked.</p>
      <% end %>

      <div class="form-actions">
        <%= link_to 'Edit Treasurer', 
          edit_user_filer_treasurer_path(@user, @filer, @filer.treasurer), :class => 'btn' %>
      </div>
    <% else %>
      <p>You haven't added your treasurer information, yet. Please add your treasurer to continue.</p>
      <div class="form-actions">
        <%= link_to 'Add Treasurer', new_user_filer_treasurer_path(@user, @filer), 
          :class => 'btn' %>
      </div>
    <% end %>
  <% end %> 
</div>

