<%= form_for [@user, @filer, @report, @contribution], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :rec_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rec_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :form_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :form_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contributor_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contributor_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name_title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_first, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name_first, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_last, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name_last, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_suffix, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name_suffix, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_out_of_state_pac, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_out_of_state_pac, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pac_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pac_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, {:default => Time.now, 
                                :start_year => Time.now.year - 1,
                                :end_year => Time.now.year + 1},
                               {:class => 'date_select'}  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :in_kind_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :in_kind_description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :employer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :employer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :occupation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :occupation, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_filer_report_contributions_path(@user, @filer, @report), :class => 'btn' %>
  </div>
<% end %>
