<%= form_for [@user, @filer, @report, @contribution], :html => { :class => 'form-horizontal' } do |f| %>

  <% if @contribution.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@contribution.errors.count, "error") %>.
      </div>
      <ul>
      <% @contribution.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="control-group">
    <%= f.label :rec_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:rec_type, ContributionType.values) %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :form_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:form_type, FormType.values) %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contributor_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:contributor_type, ContributorType.values) %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_title, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:name_title, name_prefixes, { :include_blank => true }) %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_first, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name_first, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_last, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name_last, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name_suffix, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:name_suffix, name_suffixes, { :include_blank => true }) %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:state, us_states, :selected => "TX") %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_out_of_state_pac, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_out_of_state_pac, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :out_of_state_pac_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :out_of_state_pac_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, {:default => Time.now, 
                                :start_year => Time.now.year - 1,
                                :end_year => Time.now.year + 1},
                               {:class => 'date_select'}  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :in_kind_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :in_kind_description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :employer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :employer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :occupation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :occupation, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_filer_report_contributions_path(@user, @filer, @report), :class => 'btn' %>
  </div>
<% end %>

<% content_for(:sidebar) do %>
    <h2>Contribution details</h2>
    <p>Please use this page to manage your contribution details.</p>
<% end %>

