<%- model_class = Contribution -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<% if @contributions.empty? %>
  <p>No contributions have been entered for this report.</p>
<% else %>

  <table class="table table-striped">
    <thead>
      <tr>
	<th>Type</th>
	<th>Name</th>
	<th>Date</th>
	<th>Amount</th>
	<th></th>
	<th></th>
      </tr>
    </thead>

    <tbody>
      <% @contributions.each do |contribution| %>
	<tr>
	  <td><%= contribution.contributor_type.capitalize! %> <%= contribution.rec_type.capitalize! %></td>
	  <td><%= contribution.name_title %> <%= contribution.name_first %> <%= contribution.name_last %> <%= contribution.name_suffix %></td>
	  <td><%= contribution.date %></td>
	  <td><%= number_to_currency(contribution.amount) %></td>
	  <td>
	    <%= link_to 'Details', user_filer_report_contribution_path(@user, @filer, @report, contribution) %>
	  </td>
	  <td>
	    <%= link_to 'Copy', clone_contribution_path(contribution) %>
	  </td>
	</tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<p>
<%= link_to "Add a contribution",
	    new_user_filer_report_contribution_path,
	    :class => 'btn btn-primary' %>
<%= link_to 'Back', root_path, :class => 'btn' %>
</p>
