<div class="page-header">
  <h1>Contribution Details</h1>
</div>

<p>
  <strong>Record type:</strong>
  <%= @contribution.rec_type %>
</p>

<p>
  <strong>Form type:</strong>
  <%= @contribution.form_type %>
</p>

<p>
  <strong>Contributor type:</strong>
  <%= @contribution.contributor_type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contribution.name_title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @contribution.name_first %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contribution.name_last %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @contribution.name_suffix %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contribution.address %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @contribution.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @contribution.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @contribution.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @contribution.zip %>
</p>

<p>
  <strong>Out of state PAC?</strong>
  <%= @contribution.is_out_of_state_pac %>
</p>

<p>
  <strong>Out of state PAC ID:</strong>
  <%= @contribution.out_of_state_pac_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @contribution.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@contribution.amount) %>
</p>

<p>
  <strong>In kind description:</strong>
  <%= @contribution.in_kind_description %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @contribution.employer %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @contribution.occupation %>
</p>


<div class="form-actions">
   <%= link_to t('.back', :default => t("helpers.links.back")),
              user_filer_report_contributions_path(@user, @filer, @report), :class => 'btn'  %>
   <%= link_to "Edit",
              edit_user_filer_report_contribution_path(@user, @filer, @report, @contribution), :class => 'btn' %>
   <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_filer_report_contribution_path(@user, @filer, @report, @contribution),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
</div>
