<%- model_class = Contribution -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:version) %>:</strong></dt>
  <dd><%= @contribution.version %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rec_type) %>:</strong></dt>
  <dd><%= @contribution.rec_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:form_type) %>:</strong></dt>
  <dd><%= @contribution.form_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contributor_type) %>:</strong></dt>
  <dd><%= @contribution.contributor_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name_title) %>:</strong></dt>
  <dd><%= @contribution.name_title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name_first) %>:</strong></dt>
  <dd><%= @contribution.name_first %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name_last) %>:</strong></dt>
  <dd><%= @contribution.name_last %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name_suffix) %>:</strong></dt>
  <dd><%= @contribution.name_suffix %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @contribution.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address2) %>:</strong></dt>
  <dd><%= @contribution.address2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @contribution.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @contribution.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zip) %>:</strong></dt>
  <dd><%= @contribution.zip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_out_of_state_pac) %>:</strong></dt>
  <dd><%= @contribution.is_out_of_state_pac %></dd>
  <dt><strong><%= model_class.human_attribute_name(:out_of_state_pac_id) %>:</strong></dt>
  <dd><%= @contribution.out_of_state_pac_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @contribution.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @contribution.amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:in_kind_description) %>:</strong></dt>
  <dd><%= @contribution.in_kind_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:employer) %>:</strong></dt>
  <dd><%= @contribution.employer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:occupation) %>:</strong></dt>
  <dd><%= @contribution.occupation %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              contributions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_contribution_path(@contribution), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              contribution_path(@contribution),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
