<%- model_class = Expenditure -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<% if @expenditures.empty? %>
  <p>No expenditures have been entered for this report.</p>
<% else %>

  <table class="table table-striped">
    <thead>
      <tr>
	<th>Type</th>
	<th>Name</th>
	<th>Date</th>
	<th>Amount</th>
	<th></th>
	<th></th>
      </tr>
    </thead>

    <tbody>
      <% @expenditures.each do |expenditure| %>
	<tr>
	  <td><%= expenditure.payee_type.capitalize! %> <%= expenditure.rec_type.capitalize! %></td>
	  <td><%= expenditure.payee_name_title %> <%= expenditure.payee_name_first %> 
	      <%= expenditure.payee_name_last %> <%= expenditure.payee_name_suffix %></td>
	  <td><%= expenditure.date %></td>
	  <td><%= number_to_currency(expenditure.amount) %></td>
	  <td>
	    <%= link_to 'Details', user_filer_report_expenditure_path(@user, @filer, @report, expenditure) %>
	  </td>
	  <td>
	    <%= link_to 'Copy', clone_expenditure_path(expenditure) %>
	  </td>
	</tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<p>
<%= link_to "Add an expenditure",
	    new_user_filer_report_expenditure_path,
	    :class => 'btn btn-primary' %>
<%= link_to 'Back', root_path, :class => 'btn' %>
</p>
