<div class="page-header">
  <h1>Expenditure Details</h1>
</div>

<p>
  <strong>Record type:</strong>
  <%= @expenditure.rec_type %>
</p>

<p>
  <strong>Form type:</strong>
  <%= @expenditure.form_type %>
</p>

<p>
  <strong>Item ID:</strong>
  <%= @expenditure.item_id %>
</p>

<p>
  <strong>Payee type:</strong>
  <%= @expenditure.payee_type %>
</p>

<p>
  <strong>Payee title:</strong>
  <%= @expenditure.payee_name_title %>
</p>

<p>
  <strong>Payee first name:</strong>
  <%= @expenditure.payee_name_first %>
</p>

<p>
  <strong>Payee last name:</strong>
  <%= @expenditure.payee_name_last %>
</p>

<p>
  <strong>Payee name suffix:</strong>
  <%= @expenditure.payee_name_suffix %>
</p>

<p>
  <strong>Payee address:</strong>
  <%= @expenditure.payee_address %>
</p>

<p>
  <strong>Payee address 2:</strong>
  <%= @expenditure.payee_address2 %>
</p>

<p>
  <strong>Payee city:</strong>
  <%= @expenditure.payee_city %>
</p>

<p>
  <strong>Payee state:</strong>
  <%= @expenditure.payee_state %>
</p>

<p>
  <strong>Payee zip:</strong>
  <%= @expenditure.payee_zip %>
</p>

<p>
  <strong>Date:</strong>
  <%= @expenditure.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expenditure.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expenditure.description %>
</p>

<p>
  <strong>Reimbusement expected:</strong>
  <%= @expenditure.reimbursement_expected %>
</p>

<p>
  <strong>Candidate title:</strong>
  <%= @expenditure.candidate_name_title %>
</p>

<p>
  <strong>Candidate first name:</strong>
  <%= @expenditure.candidate_name_first %>
</p>

<p>
  <strong>Candidate last name:</strong>
  <%= @expenditure.candidate_name_last %>
</p>

<p>
  <strong>Candidate name suffix:</strong>
  <%= @expenditure.candidate_name_suffix %>
</p>

<p>
  <strong>Office held code:</strong>
  <%= @expenditure.office_held_code %>
</p>

<p>
  <strong>Office held description:</strong>
  <%= @expenditure.office_held_description %>
</p>

<p>
  <strong>Office held district:</strong>
  <%= @expenditure.office_held_district %>
</p>

<p>
  <strong>Office sought code:</strong>
  <%= @expenditure.office_sought_code %>
</p>

<p>
  <strong>Office sought description:</strong>
  <%= @expenditure.office_sought_description %>
</p>

<p>
  <strong>Office sought district:</strong>
  <%= @expenditure.office_sought_district %>
</p>

<p>
  <strong>Back reference ID:</strong>
  <%= @expenditure.backreference_id %>
</p>

<p>
  <strong>Corporate contribution?:</strong>
  <%= @expenditure.is_corp_contrib %>
</p>


<div class="form-actions">
   <%= link_to t('.back', :default => t("helpers.links.back")),
              user_filer_report_expenditures_path(@user, @filer, @report), :class => 'btn'  %>
   <%= link_to "Edit",
              edit_user_filer_report_expenditure_path(@user, @filer, @report, @expenditure), :class => 'btn' %>
   <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_filer_report_expenditure_path(@user, @filer, @report, @expenditure),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
</div>
