<%= form_for [@user, @filer, @report], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Report</legend>

    <% if @report.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

        <ul>
        <% @report.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label "Report type", :class => 'control-label' %>
      <div class="controls">
        <% types = { "Jan 15" => "JAN15", "Jul 15" => "JUL15", 
                     "Election 30 day" => "ELECTION_30DAY", "Election 8 day" => "ELECTION_8DAY", 
                     "Runoff" => "RUNNOFF", "Exceed 500" => "EXCEED_500", 
                     "Treasurer Appt." => "TREASURER_APPT", "Final" => "FINAL" } %>
        <%= f.select(:report_type, types) %> 
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Status", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :status, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Period begin", :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :period_begin, {:prompt => { :day => 'Select day', 
                                                       :month => 'Select month', 
                                                       :year => 'Select year' }}, 
                                                       {:class => 'date_select'}  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Period end", :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :period_end, {:prompt => { :day => 'Select day', 
                                                       :month => 'Select month', 
                                                       :year => 'Select year' }}, 
                                                       {:class => 'date_select'}  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Election date", :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :election_date, {:prompt => { :day => 'Select day', 
                                                       :month => 'Select month', 
                                                       :year => 'Select year' }}, 
                                                       {:class => 'date_select'}  %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Election type", :class => 'control-label' %>
      <div class="controls">
        <% types = { "Primary" => "PRIMARY", "Runoff" => "RUNOFF", 
                     "General" => "GENERAL", "Special" => "SPECIAL" } %>
        <%= f.select(:election_type, types) %> 
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Office held", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :office_held, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Office sought", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :office_sought, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', root_path, :class => 'btn' %>
    </div>

  </fieldset>
<% end %>
